
	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
	
	<!-- TODO: Add SDKs for Firebase products that you want to use
	     https://firebase.google.com/docs/web/setup#available-libraries -->
	<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>
	
	<script>
	  // Your web app's Firebase configuration
	  var firebaseConfig = {
	    apiKey: "AIzaSyDhwglW_TlG_fKfiYqncFofRS9ujEEEKJI",
	    authDomain: "app-35718.firebaseapp.com",
	    databaseURL: "https://app-35718.firebaseio.com",
	    projectId: "app-35718",
	    storageBucket: "app-35718.appspot.com",
	    messagingSenderId: "99529105687",
	    appId: "1:99529105687:web:4a623db34df7db77b55752",
	    measurementId: "G-JDKJDKDW5P"
	  };
	  // Initialize Firebase
	  firebase.initializeApp(firebaseConfig);
	  firebase.analytics();
	</script>
</body>
</html>