<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>home</h1>
	<h2>{{name}}</h2> <!-- mustache 문법 -->
	<h2>{{num}}</h2>
	<h2>{{password}}</h2>
</body>
</html>